/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева
  всем тегам списков
 */
ul,
ol {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и другим нужным тегам,
 */
body,
blockquote,
figure {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-block: 0;
}

dd {
  margin-left: 0;
}

/**
  Убираем стандартный маркер
  у маркированных списков
 */
ul {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}


html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
