@use 'sass:math';
@use 'variables';
@use 'functions';

@mixin normalize-root() {
    --body-text-color: #{variables.$body-text-color};
    --body-bg-color: #{variables.$body-bg-color};
    --body-font-family: #{variables.$body-font-family};
    --body-font-weight: #{variables.$body-font-weight};
    --body-font-size: #{functions.toRem(variables.$body-font-size)};
    --body-line-height: #{variables.$body-line-height};
  
    // Общие стили для всех заголовков
    --heading-font-family: #{variables.$heading-font-family};
    --heading-font-weight: #{variables.$heading-font-weight};
    --heading-line-height: #{variables.$heading-line-height};
    --heading-margin-bottom: #{variables.$heading-margin-bottom};;
  
    // Размеры заголовков h1-h6
    --h1-font-size: #{functions.clamp1(variables.$h1-fs-min, variables.$h1-fs-max)};
    --h2-font-size: #{functions.clamp1(variables.$h2-fs-min, variables.$h2-fs-max)};
    --h3-font-size: #{functions.clamp1(variables.$h3-fs-min, variables.$h3-fs-max)};
    --h4-font-size: #{functions.clamp1(variables.$h4-fs-min, variables.$h4-fs-max)};
    --h5-font-size: #{functions.clamp1(variables.$h5-fs-min, variables.$h5-fs-max)};
    --h6-font-size: #{functions.clamp1(variables.$h6-fs-min, variables.$h6-fs-max)};
  }