@use 'sass:math';
@use '../variables';
@use 'functions';

@mixin grid( $columns: 12, $gap: null) {
    --columnsNumber: #{$columns};

    display: grid;
    gap: $gap;
    grid-template-columns: repeat(var(--columnsNumber), 1fr);
  }