// Скрываем элемент
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Общие стили для всех заголовков
%heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

%margin-block-0 {
  margin-block: 0;
}

%margin-inline-0 {
  margin-inline: 0;
}

%margin-0 {
  @extend %margin-block-0;
  @extend %margin-inline-0;
}

%min-h100 {
  min-height: 100%;
}

// Плавный скролл
%scroll-behavior {
  scroll-behavior: smooth;
}

//  Упрощаем работу с изображениями
%img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Нормализация блочной модели
%border-box {
  box-sizing: border-box;
}